# Racket compiled files
compiled/

*~
*.bak
\#*
.\#*
/doc/

*.zo
*.dep

# SQLite database (dev)
*.db
*.db-shm
*.db-wal

# in memory databases
:memory:
:memory:-shm
:memory:-wal

# Secrets / env
*.env
!*.env.template

# macOS
.DS_Store
